﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h5 class="display-6">الموقع التجريبى </h5>
    <h6 class="display-6"> لتسجيل طلبات الموظفين</h6>

    <table >
        <thead>
            <tr class="table-active">
                <th>
                    <div class="grid-container">
                        <div>
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-header">طريقة بسيطة لتقديم الطلبات</div>
                                <div class="card-body">
                                    <img src="~/css/images/order.png" class="card-title" ></img>
                                    <p class="card-text"> خدمات جديدة </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>     
                    <div class="grid-container">
                        <div>
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-header">تقديم طلبات </div>
                                <div class="card-body">
                                    <img src="~/css/images/system.jpg" class="card-title" ></img>
                                    <p class="card-text"> خدمات إضافية </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>
                    <div class="grid-container">
                        <div>
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-header">تقديم طلبات </div>
                                <div class="card-body">
                                    <img src="~/css/images/order.png" class="card-title"></img>
                                    <p class="card-text"> خدمات إضافية </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>   
</div>